@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.mapboxgl-marker {
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 0.2s;
  will-change: transform;
}

.cl-formButtonPrimary {
  @apply inline-flex h-9 items-center justify-center whitespace-nowrap rounded-md bg-primary px-3 text-xs font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}

.cl-card,
.cl-socialButtonsBlockButton,
.cl-alert,
.cl-identityPreview,
.cl-phoneInputBox,
.cl-userButtonPopoverCard {
  @apply border border-input bg-background;
}

.cl-headerTitle,
.cl-socialButtonsBlockButtonText,
.cl-loading,
.cl-formFieldLabel,
.cl-formHeaderTitle,
.cl-selectButton__countryCode,
.cl-selectButton__countryCode p,
.cl-selectOption p,
.cl-selectOption div,
.cl-modalCloseButton,
.cl-navbarButton,
.cl-breadcrumbsItem.cl-breadcrumbsItem__currentPage,
.cl-profileSectionTitle p,
.cl-userPreviewTextContainer,
.cl-profileSectionContent p,
.cl-form p,
.cl-accordionTriggerButton {
  @apply dark:text-foreground;
}

.cl-headerSubtitle,
.cl-dividerText,
.cl-footerActionText,
.cl-alertText,
.cl-formFieldInfoText,
.cl-formFieldSuccessText,
.cl-identityPreviewText,
.cl-userButtonPopoverActionButton,
.cl-userButtonPopoverActionButton svg,
.cl-userButtonPopoverActionButtonText,
.cl-userButtonPopoverFooter p,
.cl-userButtonPopoverFooter a,
.cl-formHeaderSubtitle,
.cl-breadcrumbsItem,
.cl-breadcrumbsItemDivider,
.cl-fileDropAreaHint,
.cl-fileDropAreaFooterHint,
.cl-form p[data-localization-key="userProfile.emailAddressPage.emailCode.formHint"],
p[data-localization-key="userProfile.profilePage.successMessage"] {
  @apply text-muted-foreground;
}

.cl-dividerLine {
  @apply bg-border;
}

.cl-formFieldInput[type="text"],
.cl-formFieldInput[type="email"],
.cl-formFieldInput[type="password"] {
  @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-foreground ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-footerActionLink {
  @apply text-accent-foreground underline hover:text-accent-foreground/90;
}

.cl-otpCodeFieldInput {
  @apply border border-b-input text-foreground;
}

.cl-formResendCodeLink {
  @apply text-primary disabled:opacity-90;
}

.cl-selectSearchInput__countryCode {
  @apply flex h-10 w-full rounded-md border border-b border-input bg-background text-foreground ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-selectOptionsContainer__countryCode {
  @apply border border-input bg-background;
}

.cl-internal-icon,
.cl-userPreviewSecondaryIdentifier__userButton {
  @apply text-foreground;
}

.cl-profileSectionTitle {
  @apply border-b border-input;
}

button[data-localization-key="userProfile.start.dangerSection.deleteAccountButton"] {
  @apply bg-destructive text-destructive-foreground hover:bg-destructive/90;
}

.cl-fileDropAreaBox {
  @apply dark:bg-gray-900;
}

.cl-fileDropAreaIconBox {
  @apply dark:bg-gray-800;
}

.cl-fileDropAreaIcon {
  @apply dark:text-gray-400;
}

.cl-fileDropAreaButtonPrimary {
  @apply h-10 px-4 py-2 text-foreground transition-colors hover:bg-secondary hover:text-accent-foreground;
}

.cl-userButtonPopoverActionButton,
.cl-profileSectionPrimaryButton,
.cl-accordionTriggerButton,
.cl-navbarButton {
  @apply hover:bg-accent hover:text-accent-foreground;
}

.cl-card {
  @apply rounded-lg shadow-md;
}

.cl-userButtonPopoverCard {
  @apply rounded-md;
}

.cl-userButtonPopoverFooter a {
  @apply hover:text-muted-foreground;
}

.cl-badge {
  @apply rounded-full px-2.5 py-0.5 text-xs;
}

.cl-badge[data-localization-key="badge__unverified"] {
  @apply border bg-transparent text-destructive dark:text-red-500;
}

.cl-formButtonReset {
  @apply text-foreground hover:bg-secondary;
}


.container {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%
}

@media(max-width: 1600px) {
  .container {
      max-width:1230px
  }
}

/* 
.mySwipper{
          .swiper-wrapper{
              margin-top: 150px;
              margin-bottom: 100px;
              @media screen and (max-width: 992px){
                  margin-top: 100px;
                  margin-bottom: 100px;
                
              }
            .swiper-slide{
                height: 100%;
                .ecommerceFeatures__card{
                    background: #0B0B0B;
                    border-radius: 30px;
                    padding: 30px;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    min-height: 300px;
                    position: relative;
                    img{
                        width: 140px;
                        height: 140px;
                        margin-top: -100px;
                        margin-bottom: 20px;
                    }
                    h3{
                        font-size: 24px;
                        font-weight: 700;
                        color: #fff;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 18px;
                        color: rgba(255, 255, 255, 0.7);
                        margin-bottom: 0;
                    }
                }
            }
        }
        .swiper-button-next,.swiper-button-prev {
            position: absolute;
            right: 0;
            left: 50%;
            top: 100%;
            transform: translateY(-35px);
            width: 47px;
            font-weight: bold;
            height: 47px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #DDA72A;
            background-color: #DDA72A;
            border-radius: 10px
        }
        
        .swiper-button-next:after,.swiper-button-prev:after {
            font-size: 20px;
            color: #222222
        }
        
        .swiper-button-prev {
            transform: translate(-65px, -35px);
        }
      }
 */

 .mySwipper {
  position: relative;
  padding-top: 150px !important;
 }
 .mySwipper .swiper-button-next{
  position: absolute;
  top: 50px;
  background-color: #6D5FFD;
  padding: 10px;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  color: white;
  box-shadow: 2px 3px 10px 5px rgba(128, 128, 128, 0.171) !important;
 }
 .mySwipper .swiper-button-prev{
  position: absolute;
  top: 50px;
  left: 100%;
  transform: translateX(-150px);
  background-color: #f6f5f5;
  padding: 10px;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  box-shadow: 2px 3px 15px 5px rgba(128, 128, 128, 0.212) !important;
}
.mySwipper .swiper-button-prev::after{
   color: #6D5FFD !important;
  font-size: 29px;
    content: '\276E'; 
 }
 .mySwipper .swiper-button-next::after{
  font-size: 29px;
    content: '\276F'; 
    color: #ffffff;
 }